*.font:	JetBrains Mono Nerd Font:pixelsize=14:antialias=true:autohint=true;
*.alpha: 0.89

! special
*.foreground:   #b9b9b9
*.background:   #101010
*.cursorColor:  #b9b9b9

! black
*.color0:       #101010
*.color8:       #525252

! red
*.color1:       #7c7c7c
*.color9:       #7c7c7c

! green
*.color2:       #8e8e8e
*.color10:      #8e8e8e

! yellow
*.color3:       #a0a0a0
*.color11:      #a0a0a0

! blue
*.color4:       #686868
*.color12:      #686868

! magenta
*.color5:       #747474
*.color13:      #747474

! cyan
*.color6:       #868686
*.color14:      #868686

! white
*.color7:       #b9b9b9
*.color15:      #f7f7f7

URxvt.geometry: 92x24
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
URxvt.depth: 24
URxvt.iso14755: false
!! Common Keybinds for Navigations
URxvt.keysym.Meta-Up: command:\033]720;1\007
URxvt.keysym.Meta-Down: command:\033]721;1\007

